<h1>Pomodoro</h1>

<div *ngIf="currentPomodoro == null">
    <p>Você não tem nenhum pomodoro em andamento</p>
    <input type="button" value="Iniciar Pomodoro" (click)="startPomodoro()"/>
</div>

<div *ngIf="currentPomodoro != null">
    <p>Pomodoro em andamento:</p>
    <h1>{{ displayTimer | date:"mm:ss" }}</h1>
</div>

<p>Você executou {{ allPomodoros.length }} pomodoros.</p>
<ul>
    <li *ngFor="let p of allPomodoros">
        [  
        <span *ngIf="p.type === types.TASK">Task</span>
        <span *ngIf="p.type === types.BREAK">Break</span>
        <span *ngIf="p.type === types.LONG_BREAK">Long Break</span>
        ]
        - 
        {{ p.start | date:"HH:mm:ss"}} às 
        {{ p.finish | date:"HH:mm:ss"}}
    </li>
</ul>